<dialog class="broadcast-modal" id="broadcast-modal" data-baseurl="{{ site.baseurl | escape }}" aria-labelledby="broadcast-modal-title">
  <div class="broadcast-modal__toolbar">
    <span>BROADCAST</span>
    <button type="button" class="broadcast-modal__close" data-broadcast-close aria-label="Close broadcast" autofocus>CLOSE <span aria-hidden="true">×</span></button>
  </div>
  <div class="broadcast-modal__scroll">
    <div class="broadcast-modal__content" id="broadcast-modal-content"></div>
  </div>
</dialog>
