  <header class="nav" id="top">
    <div class="nav__inner">
      <a class="nav__logo-box" href="{{ '/' | relative_url }}#top" aria-label="Ten Grand home">
        <span class="nav__logo-mark">
          <img src="{{ '/assets/images/logo-white.png' | relative_url }}" alt="" />
        </span>
      </a>
      <span class="nav__divider" aria-hidden="true"></span>
      <a class="nav__item" href="{{ '/' | relative_url }}#philosophy">PHILOSOPHY</a>
      <span class="nav__divider" aria-hidden="true"></span>
      <a class="nav__item" href="{{ '/transmissions/' | relative_url }}">TRANSMISSIONS</a>
      <span class="nav__divider" aria-hidden="true"></span>
      <a class="nav__item" href="{{ '/' | relative_url }}#director">DIRECTOR</a>
      <span class="nav__divider" aria-hidden="true"></span>
      <a class="nav__item nav__item--inverse" href="https://indd.adobe.com/view/8f3d3ba0-a58f-458b-bb9a-1ed40fc46061" target="_blank" rel="noopener">THE GRAND SCHEME</a>
    </div>
  </header>
